<div id='gallery-topbar-float-wrap'>
  <div id='gallery-topbar-fix' class='gallery-topbar-fix gallery-topbar-item'>
  </div>

  <div id='gallery-topbar-float' class='gallery-topbar-float gallery-topbar-float-active'>
    <div class='gallery-topbar-item gallery-topbar-float-inner'>
      <div class='gallery-navigation-home'>
        <div class='gallery-navigation-home-d'>{{#link-to 'index'}}Home{{/link-to}}</div>
        <div class='gallery-navigation-home-d'>{{#link-to 'album'}}Album{{/link-to}}</div>
        <div class='gallery-navigation-home-d'>{{#link-to 'share'}}Share{{/link-to}}</div>
        <div class='gallery-navigation-home-d'>{{#link-to 'smart'}}Smart{{/link-to}}</div>
        <div class='gallery-navigation-home-d'>{{#link-to 'about'}}About{{/link-to}}</div>
      </div>
      <div class='gallery-topbar-div3-2'>
        {{#if navi.topbar.data.inner.component}}
          {{component navi.topbar.data.inner.component data=navi.topbar.data.inner.data}}
        {{/if}}
      </div>
      <div class='gallery-topbar-div3-3'>
        {{gallery-preview-resize}}
      </div>
    </div>
    <progress id='gallery-topbar-progress' class="gallery-topbar-progress" value="0">
      <div class="gallery-topbar-progress-container">
        <span class="gallery-topbar-progress-bar"></span>
      </div>
    </progress>
  </div>
</div>
