<div>
<ul>
<li>{{#link-to 'index'}}HOME{{/link-to}}</li>
<li>{{#link-to 'album'}}Album{{/link-to}}</li>
<li>{{#link-to 'share'}}Share{{/link-to}}</li>
<li>{{#link-to 'smart'}}Smart{{/link-to}}</li>
<li>{{#link-to 'test'}}Test{{/link-to}}</li>
<li>{{#link-to 'test.api'}}API{{/link-to}}</li>
<li>{{#link-to 'about'}}About{{/link-to}}</li>
</ul>
</div>

