<h4>
  <span>{{#link-to 'album/detail' 'root'}}albums{{/link-to}}</span>
  <span>/</span>
  {{#if path.success}}
    {{#each path.data.items as |p|}}
      {{#if (is-equal p.id 'Albums')}}
      {{else}}
        <span>{{#link-to 'album/detail' (g-short-album-id p.id)}}{{p.info.name}}{{/link-to}}</span>
        <span>/</span>
      {{/if}}
    {{/each}}
  {{/if}}
</h4>
