{{yield (action 'popup')}}

<div id="image-info-popup"
  class="mfp-hide"
  style="
    position: relative;
    background: #FFF;
    padding: 10px;
    width: auto;
    height: 80%;
    max-width: 80%;
    margin: 10px auto;
  "
>

<img style='width=90%' src={{popupImgSrc}} />

</div>
