<h4>
  <span>/</span>
  <span>{{#link-to 'share'}}shares{{/link-to}}</span>
  {{#if site}}
    <span>/</span>
    <span>{{#link-to 'share/site' site}}{{site}}{{/link-to}}</span>
  {{/if}}
  {{#if shareid}}
    <span>/</span>
    <span>{{#link-to 'share/detail' site shareid}}{{info.name}}{{/link-to}}</span>
  {{/if}}
</h4>
