<div>
  <span>{{#link-to 'album'}}/albums{{/link-to}}</span>
  {{#if path.site}}
    <span>{{#link-to 'album/browse' path.site 'root'}}/{{path.site}}{{/link-to}}</span>
  {{/if}}
  {{#if path.items}}
    {{#each path.items as |p|}}
      {{#if (is-equal p.id 'Albums')}}
      {{else}}
        <span>{{#link-to 'album/browse' path.site (g-short-album-id p.id)}}/{{p.info.title}}{{/link-to}}</span>
      {{/if}}
    {{/each}}
  {{/if}}
</div>
