<h3>
<span>{{#link-to 'index'}}HOME{{/link-to}}</span>
<span>|</span>
<span>{{#link-to 'album'}}Album{{/link-to}}</span>
<span>|</span>
<span>{{#link-to 'share'}}Share{{/link-to}}</span>
<span>|</span>
<span>{{#link-to 'smart'}}Smart{{/link-to}}</span>
<span>|</span>
<span>{{#link-to 'test'}}Test{{/link-to}}</span>
<span>|</span>
<span>{{#link-to 'test.photoswipe'}}Test.photoswipe{{/link-to}}</span>
<span>|</span>
<span>{{#link-to 'test.api'}}API{{/link-to}}</span>
<span>|</span>
<span>{{#link-to 'about'}}About{{/link-to}}</span>
</h3>

