<ul>
  <li>{{#link-to 'album/detail' 'root'}}albums{{/link-to}}</li>
  {{#if path.success}}
    {{#each path.data.items as |p|}}
      {{#if (is-equal p.id 'Albums')}}
      {{else}}
        <li>{{#link-to 'album/detail' (g-short-album-id p.id)}}{{p.info.name}}{{/link-to}}</li>
      {{/if}}
    {{/each}}
  {{/if}}
</ul>
