<div id='gallery-topbar-float-wrap'>
  <div id='gallery-topbar-fix' class='gallery-topbar-fix gallery-topbar-item'>
      <span class='gallery-topbar-item'>{{#link-to 'index'}}Home{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'album'}}Album{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'share'}}Share{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'smart'}}Smart{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'about'}}About{{/link-to}}</span>
      <div style='display:inline;position:absolute;top:0;right:8px'>
        {{gallery-preview-resize}}
      </div>
  </div>

  <div id='gallery-topbar-float' class='gallery-topbar-float'>
    <div class='gallery-topbar-item gallery-topbar-float-inner'>
      <span class='gallery-topbar-item'>{{#link-to 'index'}}Home{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'album'}}Album{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'share'}}Share{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'smart'}}Smart{{/link-to}}</span>
      <span class='gallery-topbar-item'>{{#link-to 'about'}}About{{/link-to}}</span>
      <div style='display:inline;position:absolute;top:0;right:8px'>
        {{gallery-preview-resize}}
      </div>
    </div>
    <progress id='gallery-topbar-progress' class="gallery-topbar-progress" value="0">
      <div class="gallery-topbar-progress-container">
        <span class="gallery-topbar-progress-bar"></span>
      </div>
    </progress>
  </div>
</div>
