<div>
  <span>{{#link-to 'share'}}/shares{{/link-to}}</span>
  {{#if path.site}}
    <span>{{#link-to 'share/site' path.site}}/{{path.site}}{{/link-to}}</span>
  {{/if}}
  {{#if path.shareid}}
    <span>{{#link-to 'share/browse' path.site path.shareid}}/{{path.info.name}}{{/link-to}}</span>
  {{/if}}
</div>
