@import "ember-photoswipe";
@import "gallery-photoswipe";
@import "gallery-image-wrap";
@import "gallery-image-info-popup";
@import "gallery-image-info";
@import "gallery-navigation";
@import "gallery-preview-resize";

body {
  font-family: airal, 'microsoft yahei';
  padding-top: 0;
  margin-top: 0;
}

.gallery-clear {
  clear:both;
}

.gallery-hide {
  display: none !important;
}

a.no-underline {
  text-decoration: none;
}

.gallery-site-list {
  margin: 0 auto 20px auto;
}

.gallery-site-title {
  padding-top: 6px;
  border-bottom: 4px solid #788dda;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.gallery-site-title-txt {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin: 0 20px;
  padding: 2px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #788dda;
}

.gallery-site-title-txt a {
  color: white;
}

.gallery-site-title-txt > div {
  display: inline-block;
}
