@import "ember-photoswipe";
@import "gallery-photoswipe";
@import "gallery-image-wrap";
@import "gallery-image-info-popup";
@import "gallery-image-info";
@import "gallery-navigation";
@import "gallery-preview-resize";

body {
  font-family: airal, 'microsoft yahei';
  padding-top: 0;
  margin-top: 0;
}

.gallery-clear {
  clear:both;
}

.gallery-hide {
  display: none !important;
}

a.no-underline {
  text-decoration: none;
}
