.gallery-image-wrap {
}

.gallery-image-wrap-outer {
  display:block;
  float:left;
  position:relative;
  border: 2px solid transparent;
  margin: 0px;
}

.gallery-image-wrap-outer-hover {
  border: 2px solid #63A9FA;
}

.gallery-image-wrap-img {
  display: block;
  float: left;
  border: 0px solid transparent;
  max-width: 100%;
}

.gallery-image-wrap-detail-outer-hidden {
  visibility: hidden;
}

.gallery-image-wrap-detail-outer-album {
  background-color: rgba(99, 169, 250, 0.5);
}
.gallery-image-wrap-detail-outer-album:hover {
  background-color: rgba(99, 169, 250, 1);
}

.gallery-image-wrap-detail-outer-photo {
  background-color: rgba(194, 95, 247, 0.5);
}
.gallery-image-wrap-detail-outer-photo:hover {
  background-color: rgba(194, 95, 247, 1);
}

.gallery-image-wrap-detail-outer {
  position: absolute;
  right:12px;
  top:12px;
  border-radius: 50px;
}

.gallery-image-wrap-detail-inner {
  font-size: 12px;
  text-align: center;
  color: white;
  margin: 3px 6px;
  cursor: pointer;
  user-select: none;
}

img:before {
  content: " ";
  display: block;

  position: relative;
  left: 0;
  height: 120px;
  width: 120px;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

img:after {
  content: "\f127" "Oops";
  display: block;
  font-size: 16px;
  font-style: normal;
  color: rgb(100, 100, 100);

  position: relative;
  top: 5px;
  left: 0;
  width: 120px;
  text-align: center;
}

