.gallery-image-info-wrap {
  width: 100%;
  min-height: 200px;
}

.gallery-image-info-img-viewport {
  min-height: 200px;
  min-width: 200px;
}

.gallery-image-info-cur {
  width: 100%;
}
.gallery-image-info-cur-inner {
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
}

.gallery-image-info-btn {
  position: absolute;
  width: 0;
  height: 0;
  top: -webkit-calc(50% - 50px);
  top: -moz-calc(50% - 50px);
  top: calc(50% - 50px);
  font-size: 0;
  line-height: 0;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
}
.gallery-image-info-btn:before {
  position: absolute;
  display: inline-block;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  top: -40px;
  content: '';
}

.gallery-image-info-btn-pre {
  left: 0px;
  border-right: 38px solid rgba(200, 200, 200, 0.5);
}
.gallery-image-info-btn-pre:before {
  border-right: 30px solid rgba(128, 128, 128, 1);
  left: 5px;
}
.gallery-image-info-btn-pre-a {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50px;
}
.gallery-image-info-btn-pre-a:hover > .gallery-image-info-btn-pre {
	border-right: 38px solid rgba(200, 200, 200, 0.9);
}
.gallery-image-info-btn-pre-a:hover > .gallery-image-info-btn-pre:before {
  border-right: 30px solid rgba(64, 64, 64, 1);
}

.gallery-image-info-btn-nxt {
  right: 0px;
  border-left: 38px solid rgba(200, 200, 200, 0.5);
}
.gallery-image-info-btn-nxt:before {
  border-left: 30px solid rgba(128, 128, 128, 1);
  right: 5px;
}
.gallery-image-info-btn-nxt-a {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50px;
}
.gallery-image-info-btn-nxt-a:hover > .gallery-image-info-btn-nxt {
	border-left: 38px solid rgba(200, 200, 200, 0.9);
}
.gallery-image-info-btn-nxt-a:hover > .gallery-image-info-btn-nxt:before {
  border-left: 30px solid rgba(64, 64, 64, 1);
}

.gallery-image-info-img-outer {
  text-align:center;
}
.gallery-image-info-img-wrap {
  display: inline-block;
  box-shadow: 3px 3px 15px rgba(128, 128, 128, 1);
  font-size:0;
  position: relative;
}
.gallery-image-info-img {
}

.gallery-image-info-tag-rectangle-hide {
  visibility: hidden;
}

.gallery-image-info-tag-rectangle {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  min-width: 50px;
  min-height: 50px;
  position: absolute;
  box-shadow: 0 0 20px rgba(255, 255, 255, 5);
}
.gallery-image-info-tag-rectangle:after {
  position: absolute;
  font-size: 12px;
  color: #3e5c9a;
  bottom: 0px;
  right: 0px;
  border: 0px solid gray;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 5px;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  content: attr(data-name);
}
.gallery-image-info-tag-rectangle:hover {
  z-index: 1000;
  border: 1px solid gray;
  box-shadow: 0 0 30px rgba(255, 255, 255, 5);
}
.gallery-image-info-tag-rectangle:hover:after {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}

.gallery-image-info-tag-rectangle-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 14px;
  color: #5a5a5a;
  padding: 2px 4px 2px 4px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  visibility: hidden;
}
.gallery-image-info-img:hover + .gallery-image-info-tag-rectangle-btn {
  visibility: visible;
}
.gallery-image-info-tag-rectangle-btn:hover {
  background-color: black;
  color: white;
  visibility: visible;
}

.gallery-image-info-desc,
.gallery-image-info-comment,
.gallery-image-info-exif {
  margin-top: 10px;
  border: 1px solid rgba(200, 200, 200, 0.1);
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.gallery-image-info-desc-h2 {
  font-size: 24px;
  font-weight: bold;
}
.gallery-image-info-comment-h2,
.gallery-image-info-exif-h2 {
  font-size: 16px;
  font-weight: bold;
}

.gallery-image-info-desc-content {
  margin: 10px auto 10px 20px;
}

.gallery-image-rating-heart-red {
  color: #F88;
}
.gallery-image-rating-heart-gray {
  color: #ddd;
}

.gallery-image-info-taglist {
  font-size: 12px;
  color: gray;
  margin: 0 0 5px 0;
}

.gallery-image-info-tag {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  margin: 0 2px 0 2px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  user-select: none;
}

.gallery-image-info-comment-list,
.gallery-image-info-exif-list {
  margin: 5px auto 5px 20px;
}

.gallery-image-info-comment-item,
.gallery-image-info-exif-item {
}

.gallery-image-info-exif-filename {
  font-size: 12px;
  font-weight: normal;
}


