.gallery-image-info-popup {
  position: relative;
  background: #FFF;
  padding: 0px;
  max-width: 900px;
  margin: auto;
}

.gallery-image-info-popup-img {
  max-width: 100%;
  float: left;
}

.gallery-image-info-popup-img-wrap-left {
  margin: 0 20px 0 0;
  float: left;
}

.gallery-image-info-popup-info {
  margin: 0 20px 0 20px;
  padding: 1px 0 0 0;
}

h2.gallery-image-info-popup-info {
  margin: 15px 0 5px 0;
}

.gallery-image-info-popup-info-heart-red {
  color: #F88;
}
.gallery-image-info-popup-info-heart-gray {
  color: #ddd;
}

.gallery-image-info-popup-taglist {
  font-size: 12px;
  color: gray;
  margin: 0 0 5px 0;
}

.gallery-image-info-popup-tag {
  border: 1px solid gray;
  border-radius: 6px;
  margin: 0 2px 0 2px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  user-select: none;
}

.gallery-image-info-popup-comment {
  font-size: 14px;
}

h2.gallery-image-info-popup-comment {
  margin: 15px 0 5px 0;
}

ul.gallery-image-info-popup-comment {
  margin: 0px 0 5px 20px;
}
li.gallery-image-info-popup-comment {
  list-style-type:none;
}

.gallery-image-info-popup-exif {
  margin: 0 20px 20px 20px;
  font-size: 14px;
}

h3.gallery-image-info-popup-exif {
  margin: 15px 0 5px 0;
}

.gallery-image-info-popup-filename {
  font-weight: normal;
}
