.gallery-image-info-wrap {
  width: 100%;
  min-height: 200px;
}

.gallery-image-info-img-viewport {
  min-height: 200px;
  min-width: 200px;
}

.gallery-image-info-cur {
  width: 100%;
}
.gallery-image-info-cur-inner {
  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  margin-left: auto;
  margin-right: auto;
}

.gallery-image-info-btn {
  position: fixed;
  width: 0;
  height: 0;
  top: 100px;
  font-size: 0;
  line-height: 0;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
}
.gallery-image-info-btn:before {
  position: absolute;
  display: inline-block;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  top: -40px;
  content: '';
}


.gallery-image-info-btn-pre {
  left: 0px;
  border-right: 38px solid rgba(200, 200, 200, 0.5);
}
.gallery-image-info-btn-pre:hover {
	border-right: 38px solid rgba(200, 200, 200, 0.9);
}
.gallery-image-info-btn-pre:before {
  border-right: 30px solid rgba(128, 128, 128, 1);
  left: 5px;
}
.gallery-image-info-btn-pre:hover:before {
  border-right: 30px solid rgba(64, 64, 64, 1);
}

.gallery-image-info-btn-nxt {
  right: 0px;
  border-left: 38px solid rgba(200, 200, 200, 0.5);
}
.gallery-image-info-btn-nxt:hover {
	border-left: 38px solid rgba(200, 200, 200, 0.9);
}
.gallery-image-info-btn-nxt:before {
  border-left: 30px solid rgba(128, 128, 128, 1);
  right: 5px;
}
.gallery-image-info-btn-nxt:hover:before {
  border-left: 30px solid rgba(64, 64, 64, 1);
}

.gallery-image-info-img-wrap {
  text-align:center;
 // height: -webkit-calc(attr(data-height) - 50px);
 // height: -moz-calc(attr(data-height) - 50px);
 // height: calc(attr(data-height) - 50px);
 // width: -webkit-calc(attr(data-width) - 50px);
 // width: -moz-calc(attr(data-width) - 50px);
 // width: calc(attr(data-width) - 50px);
}
.gallery-image-info-img {
  box-shadow: 3px 3px 15px rgba(128, 128, 128, 1);
}

.gallery-image-info-desc,
.gallery-image-info-comment,
.gallery-image-info-exif {
  margin-top: 10px;
  border: 1px solid rgba(200, 200, 200, 0.1);
  padding: 5px 10px 5px 10px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.3);
  border-radius: 10px;
  background-color: #f9f9f9;
}

.gallery-image-info-desc-h2 {
  font-size: 24px;
  font-weight: bold;
}
.gallery-image-info-comment-h2,
.gallery-image-info-exif-h2 {
  font-size: 16px;
  font-weight: bold;
}

.gallery-image-info-desc-content {
  margin: 10px auto 10px 20px;
}

.gallery-image-rating-heart-red {
  color: #F88;
}
.gallery-image-rating-heart-gray {
  color: #ddd;
}

.gallery-image-info-taglist {
  font-size: 12px;
  color: gray;
  margin: 0 0 5px 0;
}

.gallery-image-info-tag {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  margin: 0 2px 0 2px;
  padding: 0 5px 0 5px;
  cursor: pointer;
  user-select: none;
}

.gallery-image-info-comment-list,
.gallery-image-info-exif-list {
  margin: 5px auto 5px 20px;
}

.gallery-image-info-comment-item,
.gallery-image-info-exif-item {
}

.gallery-image-info-exif-filename {
  font-size: 12px;
  font-weight: normal;
}
