.gallery-image-wrap {
}

.gallery-image-wrap-outer {
  display:block;
  float:left;
  position:relative;
  border: 2px solid transparent;
  margin: 0px;
}

.gallery-image-wrap-outer-hover {
  border: 2px solid #63A9FA;
}

.gallery-image-wrap-img {
  display: block;
  float: left;
  border: 0px solid transparent;
  max-width: 100%;
}

.gallery-image-wrap-detail-outer-hidden {
  visibility: hidden;
}

.gallery-image-wrap-detail-outer-album {
  background-color: rgba(73, 75, 76, 0.6);
}
.gallery-image-wrap-detail-outer-album:hover {
  background-color: rgba(73, 75, 76, 1);
}

.gallery-image-wrap-detail-outer-photo {
  background-color: rgba(70, 102, 255, 0.8);
}
.gallery-image-wrap-detail-outer-photo:hover {
  background-color: rgba(70, 102, 255, 1);
}

.gallery-image-wrap-detail-outer {
  position: absolute;
  left:0;
  top:0;
  padding: 0px 5px;
  min-width: 40px;
  max-width: 80%;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 10px white;
  cursor: pointer;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.gallery-image-wrap-detail-inner {
  font-size: 12px;
  text-align: center;
  color: white;
  margin: 3px 6px;
  user-select: none;
}

/*
img:before {
  content: " ";
  display: block;

  position: relative;
  left: 0;
  height: 120px;
  width: 120px;
  background-color: rgb(230, 230, 230);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
}

img:after {
  content: "\f127" "Oops";
  display: block;
  font-size: 16px;
  font-style: normal;
  color: rgb(100, 100, 100);

  position: relative;
  top: 5px;
  left: 0;
  width: 120px;
  text-align: center;
}
*/
