{{gallery-album-path path=model.path}}
<div>
{{#if model.album.data.items}}
  <ul>
  {{#each model.album.data.items as |it|}}
    <li>{{gallery-album-image route='album/detail' album=it}}</li>
  {{/each}}
  </ul>
{{/if}}
</div>
{{outlet}}
