<div>
{{#unless show}}
  <div class='gallery-site-title'>
    <span class='gallery-site-title-txt'>
      {{gallery-share-path path=(hash site=model.site shareid=model.shareid info=model.info)}}
    </span>
  </div>
{{/unless}}
</div>
<div class='gallery-clear'/>

{{#if model.items}}
  {{gallery-photoswipe albumInfo=model
    hidden=hidePhotoSwipe
    previewHeight = ui.previewHeight
    index=photoswipeIndex
    initWithDetailOpen=popup
    showDetail=(action 'showDetail')
    onDetailOpen=(action 'onDetailOpen')
    onDetailClose=(action 'onDetailClose')
    onDetailChange=(action 'onDetailChange')
    onOpen=(action 'onLightboxOpen')
    onClose=(action 'onLightboxClose')
    onChange=(action 'onLightboxChange')
  }}
{{/if}}

{{gallery-image-info show=show}}
