<div class='gallery-site-title'>
  <span class='gallery-site-title-txt'>
    {{gallery-share-path path=(hash site=model.site)}}
  </span>
</div>
{{#if model}}

  {{gallery-photoswipe albumInfo=model
    hidden=hidePhotoSwipe
    previewHeight = ui.previewHeight
    index=photoswipeIndex
    initWithDetailOpen=popup
    showDetail=(action 'showDetail' site.site)
    onDetailOpen=(action 'onDetailOpen')
    onDetailClose=(action 'onDetailClose')
    onDetailChange=(action 'onDetailChange')
    onOpen=(action 'onLightboxOpen')
    onClose=(action 'onLightboxClose')
    onChange=(action 'onLightboxChange')
  }}

  {{gallery-image-info show=show change=(action 'onShowChange')}}
{{/if}}
