<div class='gallery-site-title'>
  <span class='gallery-site-title-txt'>
    {{gallery-share-path path=(hash site=model.site)}}
  </span>
</div>
{{#if model}}

  {{gallery-photoswipe albumInfo=model
    hidden=hidePhotoSwipe
    previewHeight = ui.previewHeight
    initWithLightboxOpen=lightbox
    initWithDetailOpen=popup
    showDetail=(action 'showDetail' site.site)
    onDetailOpen=(action 'onDetailOpen')
    onDetailClose=(action 'onDetailClose')
    onDetailChange=(action 'onDetailChange')
    onLightboxOpen=(action 'onLightboxOpen')
    onLightboxClose=(action 'onLightboxClose')
    onLightboxChange=(action 'onLightboxChange')
  }}

  {{gallery-image-info show=show}}
{{/if}}
